
/* SECTION MAP 2 */

.section5__container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
  }
  
  .chart__top-img{
    width: 50rem;
  }
  
  .title--map2{
    margin-bottom: 5rem;
  }

  .chart__content{
    display: flex;
    gap: 3rem;
  }

  .map-purple-legend{
    width: 14rem;
  }

  .map-separator{
    position: absolute;
    height: 100%;
    left: -20%;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        height: 100%;
    }
    .icon__separator{
        width: 20rem;
    }
  }

  .mapmonde-svg{
    position: absolute;
    top: 20%;
    left: 0%;
    transform: rotate(10deg);
    width: 8rem;
  }

  .map-pin-svg{
    position: absolute;
    bottom: 30%;
    left: -10%;
    transform: rotate(-10deg);
    width: 6rem;
  }